* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(119, 133, 172,1);
}

/* Top Navigation */
.logo-size-1 {
    display: block;
    width: 50px;
    height: auto;
    margin: auto;
}

.logo-size-2 {
    display: block;
    width: 150px;
    height: auto;
    margin: auto;
}

.nav-container {
    color: white;
    align-items: center;
}

.nav-container {
    display: grid;
    grid-template-columns: 5% 25% 40% 30%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.nav-extra {
    margin-left: 1em;
}

.nav-account {
    justify-content: flex-end;
}

li.title {
    font-size: 1.5em;
    padding: 0.5em;
}

.list-items {
    /* display: inline-block; */
    cursor: pointer;
}

.list-items:hover {
    background-color: rgba(91, 42, 134,1);
    transition: 0.2s;
}

.list-items  a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-form {
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
}

.nav-search {
    border: none;
    padding: 1em;
    border-radius: 1em 0 0 1em;
    width: 100%;
}

.nav-form > .btn {
    border: none;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.btn-nav {
    border-radius: 0 1em 1em 0;
    font-size: 1em;
}

.btn-nav:hover {
    background-color: rgba(196, 153, 145,.7);
    transition: 0.5s;
}


/* Mid Content */

.type-nav {
    width: 40%;
    /* Temp height */
    height: 200px;
    margin: 1em auto;
    border-radius: 1em;
}

.content {
    width: 70%;
    /* Temp height */
    height: 100vh;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
}

/* Botton Footer */

.footer-nav {
    padding: 2em 0;
    color: white;
    text-align: center;
    width: 100%;
}

/* Global */

.btn {
    border: none;
    /* padding: 1em; */
}

/* color style */

.btn {
    background-color: rgba(196, 153, 145,1);
}

.footer-nav, .nav-container, .content, .type-nav {
    background-color: rgba(54, 5, 104,1);
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }

    .type-nav {
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content {
        width: 90%;
    }

    .type-nav {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content {
        width: 80%;
    }

    .type-nav {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content {
        width: 80%;
    }

    .type-nav {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content {
        width: 70%;
    }

    .type-nav {
        width: 40%;
    }
}
