/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgba(119, 133, 172,1);
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

.btn {
    padding: 9px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}

.btn-auth {
    font-size: medium;
    width: 100%;
}

.label {
    display: inline-block;
    margin-bottom: 0.5em;
}

.form-input {
    margin-bottom: 0.5em;
    padding: 1em;
    border-style: none;
    border-radius: 1em;
    width: 100%;
    color: black;
}

.form-group {
    margin-bottom: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.v-center {
    vertical-align: bottom;
}


/* Top Navigation */
.logo {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
}

.logo-size-2 {
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.nav-container {
    width: 100%;
}

.nav-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.nav-search {
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 14px 0 0 14px;
    width: 100%;
    color: black;
}

.active {
    background-color: red;
}

.nav-items{
    display: inline-block;
    list-style: none;
}

.nav-items a {
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.nav-items:hover a{
    background: rgb(91, 42, 134);
    transition: 0.2s
}

.nav-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-form-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 16px;
}

button.nav-btn {
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 0 16px 16px 0
}


.dropbtn {
    display: none;
    margin: 5px;
    border-radius: 8px;
}

.menu {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

@media only screen and (max-width: 992px) {
    .logo {
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav-grid {
        grid-template-columns: auto;
    }

    .dropbtn{
        display: block;
    }

    .nav-container {
        grid-template-columns: auto;
    }

    .right, .left {
        float: none;
    }

    .nav-items{
        text-align: center;
    }

    .collapse * {
        display: none;
    }

    .collapse.open * {
        display: block;
    }

    .collapse.open {
        max-height: 1000px;
        transition: max-height .5s;
    }

    .collapse {
        max-height: 0;
        transition: max-height .5s;
    }

    .nav-form-group {
        margin-right: 0;
    }
}

/* Categories */

.format-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 8px;
}

.format-grid-item {
    padding: 8px;
}

.btn-extend {
    width: 100%;
}

.format-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.format-form-items {
    padding: 8px;
}

.format-form-extend {
    grid-column: 1 / 4;
}

.format-form-search {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .format-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .format-form {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .format-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .format-form {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .format-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .format-form {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .format-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .format-form {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .format-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .format-form {
        grid-template-columns: 1fr 1fr;
    }
}

/* Content */

.content-format {
    width: 40%;
    min-height: 200px;
    margin: 1em auto;
    border-radius: 1em;
    padding: 16px;
}

.content {
    width: 70%;
    min-height: 100vh;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
}

.content-auth {
    width: 40%;
    margin: 1em auto;
    padding: 15vh 2em 20vh 2em;
    border-radius: 1em;
}

/* Card */

.card-collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    width: 250px;
    height: 425px;
    background-color: rgb(154, 198, 197);
    margin: auto;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .card-collections {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .card-collections {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .card-collections {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .card-collections {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .card-collections {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px){
    .card-collections {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Pagination */

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-bottom: 16px;
}

.pagination-items {
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    padding: 8px 16px;
    margin-right: 4px;
    border-radius: 16px;
}

.pagination-items:hover {
    background-color: rgba(91, 42, 134, .5);
}

.pagination-active {
    background-color: rgba(91, 42, 134, 1);
}

/* Header */

.header  {
    margin-bottom: 1em;
}

.header-quote {
    text-align: center;
}

/* Botton Footer */

.footer-nav {
    padding: 2em 0;
    text-align: center;
    width: 100%;
}


/* color style */

.btn {
    background-color: rgba(196, 153, 145,1);
    color: white;
}

.btn:hover {
    background-color: rgba(196, 153, 145,.7);
    transition: 0.5s;
}

.btn-red {
    background: red;
    color: white;
}

.btn-red:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.footer-nav, .nav-container, .content, .content-format, .content-auth {
    background-color: rgba(54, 5, 104,1);
}


/* Glocal Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }

    .content-auth {
        width: 90%;
    }

    .content-format {
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content {
        width: 90%;
    }

    .content-auth {
        width: 80%;
    }

    .content-format {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content {
        width: 80%;
    }

    .content-auth {
        width: 70%;
    }

    .content-format {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content {
        width: 80%;
    }

    .content-auth {
        width: 60%;
    }

    .content-format {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content {
        width: 74%;
    }

    .content-auth {
        width: 40%;
    }

    .content-format {
        width: 40%;
    }
}
