/* Start Global */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

.capsule {
    padding: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    transition: 0.3s;
}

.btn {
    padding: 9px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    transition: 0.5s;
}

.btn-auth {
    font-size: medium;
    width: 100%;
}

.label {
    display: inline-block;
    margin-bottom: 0.5em;
}

.form-input.small {
    padding: 4px;
    border-radius: 4px;
}

.form-input.medium {
    padding: 8px;
    border-radius: 8px;
}

.form-input.large {
    padding: 16px;
    border-radius: 16px;
}

.form-input {
    margin-bottom: 0.5em;
    padding: 4px;
    border-radius: 4px;
    border-style: none;
    border-radius: 4px;
    width: 100%;
    color: black;
    outline: none;
}

.form-group {
    margin-bottom: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 16px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.v-center {
    vertical-align: bottom;
}

h1.title{
    font-size: x-large;
    margin-bottom: 16px;
}

h2.title {
    font-size: medium;
    margin-bottom: 16px;
}

.title.fade {
    opacity: 0.2;
}

.icon {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 8px;
}

.btn.success, .icon.success {
background-color: #04AA6D;  /* Green */
}

.btn.success:hover, .icon.success:hover {
    background-color: #46a049;
}.btn

.btn.info, .icon.info {
    background-color: #2196F3;
} /* Blue */

.btn.info:hover, .icon.info:hover {
    background: #0b7dda;
}

.btn.warning, .icon.warning {
    background-color: #ff9800;
} /* Orange */

.btn.warning:hover, .icon.warning:hover {
    background: #e68a00;
}

.btn.danger, .icon.danger {
    background-color: #f44336;  /* Red */
}

.btn.danger:hover, .icon.danger:hover {
    background: #da190b;}

.btn.default, .icon.default {
    background-color: #e7e7e7; color: black; /* Gray */
}

.btn.default:hover, .icon.default:hover {
    background: #ddd;
}

.auth-errors {
    display: block;
    margin-top: 16px;
}

.auth-errors .error {
    list-style: none;
    background-color: red;
    padding: 8px;
    width: 100%;
    display: block;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* End Global */


/* Start Top Navigation */
.logo {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
}

.logo-size-2 {
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.nav-container {
    margin-bottom: 16px;
    width: 100%;
}

.nav-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.nav-search {
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    color: black;
}

.active {
    background-color: red;
}

.nav-items{
    display: inline-block;
    list-style: none;
}

.nav-items  a {
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: 0.3s
}

.nav-items.info:hover a{
    background: rgb(91, 42, 134);
}

.nav-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-form-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 16px;
}

button.nav-btn {
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 0 5px 5px 0
}


.nav-dropbtn {
    display: none;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}

.menu {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.acc-dropdown {
    position: relative;
    display: inline-block;
}

.acc-dropdown:hover .acc-dropdown-content {
    display: block;
}

.acc-dropdown:hover .acc-dropbtn {
    background-color: rgb(11, 77, 100);
}

.acc-dropdown-content {
    display: none;
    background-color: rgb(11, 57, 84);
    position: absolute;
    z-index: 1;
    text-align: center;
    min-width: 200px;
    right: 0;
}

.acc-dropdown-content .nav-items {
    display: block;
}

@media only screen and (max-width: 992px) {
    .logo {
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav-container, .nav-grid {
        grid-template-columns: auto;
    }

    .right, .left {
        float: none;
    }

    .nav-items{
        text-align: center;
    }

    .collapse  {
        display: none;
    }

    .collapse.open,
    .collapse.open .menu,
    .collapse.open .menu .nav-items,
    .collapse.open .menu .acc-dropdown,
    .nav-dropbtn {
        display: block;
    }

    .acc-dropdown-content {
        min-width: 100%;
        position: relative;
    }

    .collapse.open {
        max-height: 1000px;
        transition: max-height .5s;
    }

    .collapse {
        max-height: 0;
        transition: max-height .5s;
    }

    .nav-form-group {
        margin-right: 0;
    }
}

/* End Top Navigation */


/* Start Categories */

.format-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 8px;
}

.format-grid-item {
    padding: 8px;
}

.btn-extend {
    width: 100%;
}

.format-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.format-form-items {
    padding: 8px;
}

.format-form-extend {
    grid-column: 1 / 4;
}

.format-form-search {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .format-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .format-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .format-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .format-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .format-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .format-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .format-grid {
        grid-template-columns: repeat(4, 1fr);

    }

    .format-form {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .format-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .format-form {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* End Categories */


/* Start Content */

.content-format {
    width: 40%;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 16px;
}

.content {
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 16px;
}

.content-auth {
    width: 40%;
    margin: 16px auto;
    padding: 15vh 2em 20vh 2em;
    border-radius: 16px;
}

.content-gallry {
    width: 60%;
    min-height: 100vh;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 16px;
}

/* End Content */


/* Start profile */

.profile {
    width: 70%;
    min-height: 100vh;
    margin: 16px auto;
    border-radius: 16px;
}

.profile-header {
    min-height: 50vh;
    background-color: rgb(91, 42, 134);
    border-radius: 16px 16px 0 0;
    padding: 16px;
}

.profile-content {
    padding: 16px;
}


/* End profile */

/* Start Gallery */

.gallery {
    display: flex;
    flex-direction: row;
}

.gallery-thumb {
    margin: 0 auto;
    width: 30%;
    transition: 0.3s;
    opacity: 1;
}

.gallery-thumb:hover {
    opacity: 0.7;
}

.gallery-thumb img {
    width: 100%;
    border-radius: 8px;
}

.gallery-info {
    width: 60%;
}

.gallery-meta {
    display: flex;
    flex-direction: row;
}

.gallery-meta-info {
    height: 360px;
    width: 30%;
    margin-right: 16px;
    background-color: rgb(255, 102, 99);
}

.gallery-meta-tags {
    height: 360px;
    width: 70%;
    background-color: rgb(255, 102, 99);
}

@media only screen and (max-width: 600px)  {
    .gallery-info, .gallery-thumb {
        display: block;
    }

    .gallery-info {
        width: 100%;
    }

    .gallery-thumb {
        width: 70%;
    }

    .gallery {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px)  {
    .gallery-info, .gallery-thumb {
        display: block;
    }

    .gallery-info {
        width: 100%;
    }

    .gallery-thumb {
        width: 50%;
    }

    .gallery {
        flex-direction: column;
    }
}

/* End Gallery */

/* Start Pages */

.page-options {
    min-height: 50px;
}

.page-collections {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.page {
    margin: 0 8px 8px 8px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
}

.page:hover {
    opacity: 0.7;
}

.page-thumbnail {
    width: 100%;
    border-radius: 16px;
    background-color: ;
}

@media only screen and (max-width: 600px) {
    .page-collections {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .page-collections {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .page-collections {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .page-collections {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .page-collections {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px){
    .page-collections {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* End Pages */

/* Start Gallery Options */

.option {
    min-height: 70px;
    background-color: rgb(20, 41, 62);
    margin: 0 8px 16px 8px ;
    border-radius: 5px;
}

/* End Gallery Options */

/* Start Card */

.card-collections {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.card {
    /* width: 250px; */
    /* height: 425px; */
    width: 95%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.card-black {
    background-color: rgb(5, 25, 36);
    transition: 0.3s;
}

.card.card-black:hover {
    background-color: rgb(226, 49, 49);
}

.card-thumb img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .card-collections {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .card-collections {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .card-collections {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .card-collections {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .card-collections {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px){
    .card-collections {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* End Card */

/* Start Pagination */

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-bottom: 16px;
}

.pagination-items {
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    padding: 8px 16px;
    margin-right: 4px;
    border-radius: 5px;
}

.pagination-items:hover {
    background-color: rgba(91, 42, 134, .5);
}

.pagination-active {
    background-color: rgba(91, 42, 134, 1);
}

/* End Pagination */

/* Start Header */

.header  {
    margin-bottom: 1em;
}

.header-quote {
    text-align: center;
}

/* End Header */

/* Start Botton Footer */

.footer-nav {
    padding: 2em 0;
    text-align: center;
    width: 100%;
}

/* Start Botton Footer */

/* Start color style */

.btn {
    background-color: rgba(196, 153, 145,1);
    color: white;
}

.btn:hover {
    background-color: rgba(196, 153, 145,.7);
}

.btn-red {
    background: red;
    color: white;
}

.btn-red:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.footer-nav,
.content, .content-format, .content-auth, .profile, .container{
    /* background-color: rgba(54, 5, 104,1); */
    /* background-color: rgb(7, 37, 54); */
    background-color: rgb(11, 57, 84);

}

.capsule {
    background-color: rgb(39, 154, 241);
}

.capsule:hover {
    background-color: rgb(25, 95, 150) ;
}

body {
    /* background-color: rgb(11, 57, 84); */
    background-color: rgb(7, 37, 54);
}

/* End color style */

/* Start Glocal Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content, .content-auth, .content-format, .container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content, .container {
        width: 90%;
    }

    .content-auth {
        width: 80%;
    }

    .content-format {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content, .container {
        width: 80%;
    }

    .content-auth {
        width: 70%;
    }

    .content-format {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content, .container {
        width: 80%;
    }

    .content-auth {
        width: 60%;
    }

    .content-format {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content, .container {
        width: 74%;
    }

    .content-auth {
        width: 40%;
    }

    .content-format {
        width: 40%;
    }
}

/* End Glocal Media Queries */
